<div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable ui-sortable">
        <!-- 图表-->
        <div class="nav-tabs-custom" style="cursor: move;">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right ui-sortable-handle">
                <li class="active"><a href="#revenue-chart" data-toggle="tab" aria-expanded="true">地区</a></li>
                <li class=""><a href="#sales-chart" data-toggle="tab" aria-expanded="false">圆环图</a></li>
                <li class="pull-left header"><i class="fa fa-inbox"></i>新增职位图</li>
            </ul>
            <div class="tab-content no-padding">
                <!-- Morris chart - Sales -->
                <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg
                        height="300" version="1.1" width="759.25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        style="overflow: hidden; position: relative;">
                        <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc>
                        <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="50.5625" y="259"
                            text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                            font-weight="normal">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                        </text>
                        <path fill="none" stroke="#aaaaaa" d="M63.0625,259H734.25" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text
                            x="50.5625" y="200.5" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none"
                            fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                            font-weight="normal">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">7,500</tspan>
                        </text>
                        <path fill="none" stroke="#aaaaaa" d="M63.0625,200.5H734.25" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text
                            x="50.5625" y="142" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none"
                            fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                            font-weight="normal">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000</tspan>
                        </text>
                        <path fill="none" stroke="#aaaaaa" d="M63.0625,142H734.25" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text
                            x="50.5625" y="83.5" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none"
                            fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                            font-weight="normal">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">22,500</tspan>
                        </text>
                        <path fill="none" stroke="#aaaaaa" d="M63.0625,83.5H734.25" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text
                            x="50.5625" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none"
                            fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                            font-weight="normal">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30,000</tspan>
                        </text>
                        <path fill="none" stroke="#aaaaaa" d="M63.0625,25H734.25" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text
                            x="611.1038122721749" y="271.5" text-anchor="middle" font-family="sans-serif" font-size="12px"
                            stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                            font-weight="normal" transform="matrix(1,0,0,1,0,8)">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2013</tspan>
                        </text><text x="312.6170261239368" y="271.5" text-anchor="middle" font-family="sans-serif"
                            font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
                            font-weight="normal" transform="matrix(1,0,0,1,0,8)">
                            <tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan>
                        </text>
                        <path fill="#74a5c2" stroke="none" d="M63.0625,217.4104C81.81986634264885,217.91740000000001,119.33459902794652,220.948675,138.09196537059537,219.4384C156.84933171324423,217.928125,194.3640643985419,207.57511147540984,213.12143074119075,205.3282C231.67491266707168,203.10571147540983,268.7818765188335,203.357725,287.3353584447144,201.5608C305.88884037059535,199.76387499999998,342.9958042223572,193.47297786885247,361.54928614823814,190.9528C380.30665249088696,188.40492786885247,417.82138517618466,181.182325,436.5787515188335,181.2886C455.3361178614823,181.394875,492.85085054678007,202.66209180327868,511.6082168894289,191.803C530.1616988153098,181.0619418032787,567.2686626670717,101.29188618784531,585.8221445929526,94.888C604.1717421020655,88.55448618784531,640.8709371202916,134.20465000000002,659.2205346294046,140.85340000000002C677.9779009720535,147.64990000000003,715.4926336573511,146.7151,734.25,148.669L734.25,259L63.0625,259Z"
                            fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path>
                        <path fill="none" stroke="#3c8dbc" d="M63.0625,217.4104C81.81986634264885,217.91740000000001,119.33459902794652,220.948675,138.09196537059537,219.4384C156.84933171324423,217.928125,194.3640643985419,207.57511147540984,213.12143074119075,205.3282C231.67491266707168,203.10571147540983,268.7818765188335,203.357725,287.3353584447144,201.5608C305.88884037059535,199.76387499999998,342.9958042223572,193.47297786885247,361.54928614823814,190.9528C380.30665249088696,188.40492786885247,417.82138517618466,181.182325,436.5787515188335,181.2886C455.3361178614823,181.394875,492.85085054678007,202.66209180327868,511.6082168894289,191.803C530.1616988153098,181.0619418032787,567.2686626670717,101.29188618784531,585.8221445929526,94.888C604.1717421020655,88.55448618784531,640.8709371202916,134.20465000000002,659.2205346294046,140.85340000000002C677.9779009720535,147.64990000000003,715.4926336573511,146.7151,734.25,148.669"
                            stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <circle cx="63.0625" cy="217.4104" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="138.09196537059537" cy="219.4384" r="4" fill="#3c8dbc" stroke="#ffffff"
                            stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="213.12143074119075" cy="205.3282" r="4" fill="#3c8dbc" stroke="#ffffff"
                            stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="287.3353584447144" cy="201.5608" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="361.54928614823814" cy="190.9528" r="4" fill="#3c8dbc" stroke="#ffffff"
                            stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="436.5787515188335" cy="181.2886" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="511.6082168894289" cy="191.803" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="585.8221445929526" cy="94.888" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="659.2205346294046" cy="140.85340000000002" r="4" fill="#3c8dbc" stroke="#ffffff"
                            stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="734.25" cy="148.669" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <path fill="#eaf3f6" stroke="none" d="M63.0625,238.2052C81.81986634264885,237.9868,119.33459902794652,239.52145000000002,138.09196537059537,237.3316C156.84933171324423,235.14175,194.3640643985419,221.65594426229507,213.12143074119075,220.6864C231.67491266707168,219.72739426229506,268.7818765188335,231.46795,287.3353584447144,229.6174C305.88884037059535,227.76685,342.9958042223572,207.72728606557376,361.54928614823814,205.882C380.30665249088696,204.01643606557377,417.82138517618466,212.83375,436.5787515188335,214.774C455.3361178614823,216.71425,492.85085054678007,230.62202295081968,511.6082168894289,221.404C530.1616988153098,212.28617295081966,567.2686626670717,147.18252900552486,585.8221445929526,141.4306C604.1717421020655,135.74187900552485,640.8709371202916,169.23757857142857,659.2205346294046,175.6414C677.9779009720535,182.18752857142857,715.4926336573511,188.83315,734.25,193.2304L734.25,259L63.0625,259Z"
                            fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path>
                        <path fill="none" stroke="#a0d0e0" d="M63.0625,238.2052C81.81986634264885,237.9868,119.33459902794652,239.52145000000002,138.09196537059537,237.3316C156.84933171324423,235.14175,194.3640643985419,221.65594426229507,213.12143074119075,220.6864C231.67491266707168,219.72739426229506,268.7818765188335,231.46795,287.3353584447144,229.6174C305.88884037059535,227.76685,342.9958042223572,207.72728606557376,361.54928614823814,205.882C380.30665249088696,204.01643606557377,417.82138517618466,212.83375,436.5787515188335,214.774C455.3361178614823,216.71425,492.85085054678007,230.62202295081968,511.6082168894289,221.404C530.1616988153098,212.28617295081966,567.2686626670717,147.18252900552486,585.8221445929526,141.4306C604.1717421020655,135.74187900552485,640.8709371202916,169.23757857142857,659.2205346294046,175.6414C677.9779009720535,182.18752857142857,715.4926336573511,188.83315,734.25,193.2304"
                            stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <circle cx="63.0625" cy="238.2052" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="138.09196537059537" cy="237.3316" r="4" fill="#a0d0e0" stroke="#ffffff"
                            stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="213.12143074119075" cy="220.6864" r="4" fill="#a0d0e0" stroke="#ffffff"
                            stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="287.3353584447144" cy="229.6174" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="361.54928614823814" cy="205.882" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="436.5787515188335" cy="214.774" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="511.6082168894289" cy="221.404" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="585.8221445929526" cy="141.4306" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="659.2205346294046" cy="175.6414" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="734.25" cy="193.2304" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                    </svg>
                    <div class="morris-hover morris-default-style" style="left: 243.304px; top: 144px; display: none;">
                        <div class="morris-hover-row-label">2011 Q4</div>
                        <div class="morris-hover-point" style="color: #a0d0e0">
                            项目 1:
                            3,767
                        </div>
                        <div class="morris-hover-point" style="color: #3c8dbc">
                            项目 2:
                            3,597
                        </div>
                    </div>
                </div>
                <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"><svg height="300"
                        version="1.1" width="789.25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        style="overflow: hidden; position: relative;">
                        <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc>
                        <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                        <path fill="none" stroke="#3c8dbc" d="M394.625,243.33333333333331A93.33333333333333,93.33333333333333,0,0,0,482.8527551949771,180.44625304313007"
                            stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                        <path fill="#3c8dbc" stroke="#ffffff" d="M394.625,246.33333333333331A96.33333333333333,96.33333333333333,0,0,0,485.68864732624417,181.4248826052307L522.2401459070204,194.03833029452744A135,135,0,0,1,394.625,285Z"
                            stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <path fill="none" stroke="#f56954" d="M482.8527551949771,180.44625304313007A93.33333333333333,93.33333333333333,0,0,0,310.90984627831415,108.73398312817662"
                            stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path>
                        <path fill="#f56954" stroke="#ffffff" d="M485.68864732624417,181.4248826052307A96.33333333333333,96.33333333333333,0,0,0,308.21900205154566,107.40757544301087L269.05226941747117,88.10097469226493A140,140,0,0,1,526.9666327924656,195.6693795646951Z"
                            stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <path fill="none" stroke="#00a65a" d="M310.90984627831415,108.73398312817662A93.33333333333333,93.33333333333333,0,0,0,394.59567846904883,243.333328727518"
                            stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                        <path fill="#00a65a" stroke="#ffffff" d="M308.21900205154566,107.40757544301087A96.33333333333333,96.33333333333333,0,0,0,394.59473599126824,246.3333285794739L394.5825884998742,284.9999933380171A135,135,0,0,1,273.5370097954186,90.31165416754118Z"
                            stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="394.625"
                            y="140" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="15px" stroke="none"
                            fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 15px; font-weight: 800;"
                            font-weight="800" transform="matrix(1,0,0,1,0,0)">
                            <tspan dy="140" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">店内销售</tspan>
                        </text><text x="394.625" y="160" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="14px"
                            stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 14px;"
                            transform="matrix(1,0,0,1,0,0)">
                            <tspan dy="160" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30</tspan>
                        </text>
                    </svg></div>
            </div>
        </div>
        <!-- /.nav-tabs-custom -->
        <!--待办事项-->
        <div class="box box-primary">
            <div class="box-header ui-sortable-handle" style="cursor: move;">
                <i class="ion ion-clipboard"></i>

                <h3 class="box-title">待办事项</h3>

                <div class="box-tools pull-right">
                    <ul class="pagination pagination-sm inline">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                <ul class="todo-list ui-sortable">
                    <li>
                        <!-- drag handle -->
                        <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <!-- checkbox -->
                        <input type="checkbox" value="">
                        <!-- todo text -->
                        <span class="text">设计一个不错的主题</span>
                        <!-- Emphasis label -->
                        <small class="label label-danger"><i class="fa fa-clock-o"></i> 2 分钟前</small>
                        <!-- General tools such as edit or delete-->
                        <div class="tools">
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-trash-o"></i>
                        </div>
                    </li>
                    <li>
                        <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <input type="checkbox" value="">
                        <span class="text">使响应式主题</span>
                        <small class="label label-info"><i class="fa fa-clock-o"></i> 4 小时前</small>
                        <div class="tools">
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-trash-o"></i>
                        </div>
                    </li>
                    <li>
                        <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <input type="checkbox" value="">
                        <span class="text">让主题像星星般闪耀</span>
                        <small class="label label-warning"><i class="fa fa-clock-o"></i> 1 天前</small>
                        <div class="tools">
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-trash-o"></i>
                        </div>
                    </li>
                    <li>
                        <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <input type="checkbox" value="">
                        <span class="text">让主题像星星般闪耀</span>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> 3 天前</small>
                        <div class="tools">
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-trash-o"></i>
                        </div>
                    </li>
                    <li>
                        <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <input type="checkbox" value="">
                        <span class="text">检查你的邮件和通知</span>
                        <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 周前</small>
                        <div class="tools">
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-trash-o"></i>
                        </div>
                    </li>
                    <li>
                        <span class="handle ui-sortable-handle">
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <input type="checkbox" value="">
                        <span class="text">让主题像星星般闪耀</span>
                        <small class="label label-default"><i class="fa fa-clock-o"></i> 1 月前</small>
                        <div class="tools">
                            <i class="fa fa-edit"></i>
                            <i class="fa fa-trash-o"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix no-border">
                <button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> 添加项目</button>
            </div>
        </div>
    </section>
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable ui-sortable">
        <!-- 职位趋势图 -->
        <div class="box box-solid bg-teal-gradient">
            <div class="box-header ui-sortable-handle" style="cursor: move;">
                <i class="fa fa-th"></i>

                <h3 class="box-title">职位趋势图</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body border-radius-none">
                <div class="chart" id="line-chart" style="height: 250px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg
                        height="250" version="1.1" width="513.75" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        style="overflow: hidden; position: relative; left: -0.25px; top: -0.59375px;">
                        <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc>
                        <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="44.359375" y="211"
                            text-anchor="end" font-family="Open Sans" font-size="10px" stroke="none" fill="#ffffff"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: Open Sans; font-size: 10px; font-weight: normal;"
                            font-weight="normal">
                            <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                        </text>
                        <path fill="none" stroke="#efefef" d="M56.859375,211H488.75" stroke-width="0.4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text
                            x="44.359375" y="164.5" text-anchor="end" font-family="Open Sans" font-size="10px" stroke="none"
                            fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: Open Sans; font-size: 10px; font-weight: normal;"
                            font-weight="normal">
                            <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">5,000</tspan>
                        </text>
                        <path fill="none" stroke="#efefef" d="M56.859375,164.5H488.75" stroke-width="0.4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text
                            x="44.359375" y="118.00000000000001" text-anchor="end" font-family="Open Sans" font-size="10px"
                            stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: Open Sans; font-size: 10px; font-weight: normal;"
                            font-weight="normal">
                            <tspan dy="3.500000000000014" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">10,000</tspan>
                        </text>
                        <path fill="none" stroke="#efefef" d="M56.859375,118.00000000000001H488.75" stroke-width="0.4"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="44.359375" y="71.5"
                            text-anchor="end" font-family="Open Sans" font-size="10px" stroke="none" fill="#ffffff"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: Open Sans; font-size: 10px; font-weight: normal;"
                            font-weight="normal">
                            <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000</tspan>
                        </text>
                        <path fill="none" stroke="#efefef" d="M56.859375,71.5H488.75" stroke-width="0.4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text
                            x="44.359375" y="25.00000000000003" text-anchor="end" font-family="Open Sans" font-size="10px"
                            stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: Open Sans; font-size: 10px; font-weight: normal;"
                            font-weight="normal">
                            <tspan dy="3.5000000000000284" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">20,000</tspan>
                        </text>
                        <path fill="none" stroke="#efefef" d="M56.859375,25.00000000000003H488.75" stroke-width="0.4"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="409.50882821992707"
                            y="223.5" text-anchor="middle" font-family="Open Sans" font-size="10px" stroke="none" fill="#ffffff"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Open Sans; font-size: 10px; font-weight: normal;"
                            font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                            <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2013</tspan>
                        </text><text x="217.44082244835965" y="223.5" text-anchor="middle" font-family="Open Sans"
                            font-size="10px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Open Sans; font-size: 10px; font-weight: normal;"
                            font-weight="normal" transform="matrix(1,0,0,1,0,7)">
                            <tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan>
                        </text>
                        <path fill="none" stroke="#efefef" d="M56.859375,186.2062C68.92922235722965,185.9458,93.06891707168894,187.775575,105.13876442891859,185.1646C117.20861178614824,182.553625,141.34830650060752,166.4743950819672,153.41815385783718,165.3184C165.35680722205348,164.17497008196722,189.234113950486,178.173325,201.1727673147023,175.9669C213.1114206789186,173.760475,236.98872740735112,149.8671487704918,248.9273807715674,147.667C260.9972281287971,145.4426737704918,285.13692284325634,155.955625,297.206770200486,158.269C309.27661755771567,160.582375,333.41631227217493,177.16471967213116,345.4861596294046,166.174C357.4248129936209,155.30274467213115,381.3021197220534,77.67916919889502,393.2407730862697,70.8211C405.04823245747264,64.03839419889502,428.6631511998785,103.97557445054946,440.4706105710814,111.61090000000002C452.54045792831107,119.41589945054946,476.68015264277034,127.33952500000001,488.75,132.5824"
                            stroke-width="2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <circle cx="56.859375" cy="186.2062" r="4" fill="#efefef" stroke="#efefef" stroke-width="1"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="105.13876442891859" cy="185.1646" r="4" fill="#efefef" stroke="#efefef"
                            stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="153.41815385783718" cy="165.3184" r="4" fill="#efefef" stroke="#efefef"
                            stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="201.1727673147023" cy="175.9669" r="4" fill="#efefef" stroke="#efefef" stroke-width="1"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="248.9273807715674" cy="147.667" r="4" fill="#efefef" stroke="#efefef" stroke-width="1"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="297.206770200486" cy="158.269" r="4" fill="#efefef" stroke="#efefef" stroke-width="1"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="345.4861596294046" cy="166.174" r="4" fill="#efefef" stroke="#efefef" stroke-width="1"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="393.2407730862697" cy="70.8211" r="4" fill="#efefef" stroke="#efefef" stroke-width="1"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="440.4706105710814" cy="111.61090000000002" r="4" fill="#efefef" stroke="#efefef"
                            stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        <circle cx="488.75" cy="132.5824" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                    </svg>
                    <div class="morris-hover morris-default-style" style="left: 11.8047px; top: 119px; display: none;">
                        <div class="morris-hover-row-label">2011 Q1</div>
                        <div class="morris-hover-point" style="color: #efefef">
                            Item 1:
                            2,666
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-border">
                <div class="row">
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                        <div style="display:inline;"><canvas width="60" height="60"></canvas><input
                                type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"
                                data-fgcolor="#39CCCC" readonly="readonly" style="width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px; background: none; font: bold 12px Arial; text-align: center; color: rgb(57, 204, 204); padding: 0px; -webkit-appearance: none;"></div>

                        <div class="knob-label">邮件订单</div>
                    </div>
                    <!-- ./col -->
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                        <div style="display:inline;"><canvas width="60" height="60"></canvas><input
                                type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"
                                data-fgcolor="#39CCCC" readonly="readonly" style="width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px; background: none; font: bold 12px Arial; text-align: center; color: rgb(57, 204, 204); padding: 0px; -webkit-appearance: none;"></div>

                        <div class="knob-label">在线</div>
                    </div>
                    <!-- ./col -->
                    <div class="col-xs-4 text-center">
                        <div style="display:inline;"><canvas width="60" height="60"></canvas><input
                                type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60"
                                data-fgcolor="#39CCCC" readonly="readonly" style="width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px; background: none; font: bold 12px Arial; text-align: center; color: rgb(57, 204, 204); padding: 0px; -webkit-appearance: none;"></div>

                        <div class="knob-label">商店</div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
        <!--日历-->
        <div class="box box-solid bg-green-gradient">
            <div class="box-header ui-sortable-handle" style="cursor: move;">
                <i class="fa fa-calendar"></i>

                <h3 class="box-title">日历</h3>
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <!-- button with a dropdown -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bars"></i></button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">添加新事件</a></li>
                            <li><a href="#">清除事件</a></li>
                            <li class="divider"></li>
                            <li><a href="#">查看日历</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <!--The calendar -->
                <div id="calendar" style="width: 100%">
                    <div class="datepicker datepicker-inline">
                        <div class="datepicker-days">
                            <table class="table-condensed">
                                <thead>
                                    <tr>
                                        <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                    </tr>
                                    <tr>
                                        <th class="prev">«</th>
                                        <th colspan="5" class="datepicker-switch">October 2018</th>
                                        <th class="next">»</th>
                                    </tr>
                                    <tr>
                                        <th class="dow">Su</th>
                                        <th class="dow">Mo</th>
                                        <th class="dow">Tu</th>
                                        <th class="dow">We</th>
                                        <th class="dow">Th</th>
                                        <th class="dow">Fr</th>
                                        <th class="dow">Sa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="old day" data-date="1538265600000">30</td>
                                        <td class="day" data-date="1538352000000">1</td>
                                        <td class="day" data-date="1538438400000">2</td>
                                        <td class="day" data-date="1538524800000">3</td>
                                        <td class="day" data-date="1538611200000">4</td>
                                        <td class="day" data-date="1538697600000">5</td>
                                        <td class="day" data-date="1538784000000">6</td>
                                    </tr>
                                    <tr>
                                        <td class="day" data-date="1538870400000">7</td>
                                        <td class="day" data-date="1538956800000">8</td>
                                        <td class="day" data-date="1539043200000">9</td>
                                        <td class="day" data-date="1539129600000">10</td>
                                        <td class="day" data-date="1539216000000">11</td>
                                        <td class="day" data-date="1539302400000">12</td>
                                        <td class="day" data-date="1539388800000">13</td>
                                    </tr>
                                    <tr>
                                        <td class="day" data-date="1539475200000">14</td>
                                        <td class="day" data-date="1539561600000">15</td>
                                        <td class="day" data-date="1539648000000">16</td>
                                        <td class="day" data-date="1539734400000">17</td>
                                        <td class="day" data-date="1539820800000">18</td>
                                        <td class="day" data-date="1539907200000">19</td>
                                        <td class="day" data-date="1539993600000">20</td>
                                    </tr>
                                    <tr>
                                        <td class="day" data-date="1540080000000">21</td>
                                        <td class="day" data-date="1540166400000">22</td>
                                        <td class="day" data-date="1540252800000">23</td>
                                        <td class="day" data-date="1540339200000">24</td>
                                        <td class="day" data-date="1540425600000">25</td>
                                        <td class="day" data-date="1540512000000">26</td>
                                        <td class="day" data-date="1540598400000">27</td>
                                    </tr>
                                    <tr>
                                        <td class="day" data-date="1540684800000">28</td>
                                        <td class="day" data-date="1540771200000">29</td>
                                        <td class="day" data-date="1540857600000">30</td>
                                        <td class="day" data-date="1540944000000">31</td>
                                        <td class="new day" data-date="1541030400000">1</td>
                                        <td class="new day" data-date="1541116800000">2</td>
                                        <td class="new day" data-date="1541203200000">3</td>
                                    </tr>
                                    <tr>
                                        <td class="new day" data-date="1541289600000">4</td>
                                        <td class="new day" data-date="1541376000000">5</td>
                                        <td class="new day" data-date="1541462400000">6</td>
                                        <td class="new day" data-date="1541548800000">7</td>
                                        <td class="new day" data-date="1541635200000">8</td>
                                        <td class="new day" data-date="1541721600000">9</td>
                                        <td class="new day" data-date="1541808000000">10</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="7" class="today" style="display: none;">Today</th>
                                    </tr>
                                    <tr>
                                        <th colspan="7" class="clear" style="display: none;">Clear</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="datepicker-months" style="display: none;">
                            <table class="table-condensed">
                                <thead>
                                    <tr>
                                        <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                    </tr>
                                    <tr>
                                        <th class="prev">«</th>
                                        <th colspan="5" class="datepicker-switch">2018</th>
                                        <th class="next">»</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="7"><span class="month">Jan</span><span class="month">Feb</span><span
                                                class="month">Mar</span><span class="month">Apr</span><span class="month">May</span><span
                                                class="month">Jun</span><span class="month">Jul</span><span class="month">Aug</span><span
                                                class="month">Sep</span><span class="month focused">Oct</span><span
                                                class="month">Nov</span><span class="month">Dec</span></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="7" class="today" style="display: none;">Today</th>
                                    </tr>
                                    <tr>
                                        <th colspan="7" class="clear" style="display: none;">Clear</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="datepicker-years" style="display: none;">
                            <table class="table-condensed">
                                <thead>
                                    <tr>
                                        <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                    </tr>
                                    <tr>
                                        <th class="prev">«</th>
                                        <th colspan="5" class="datepicker-switch">2010-2019</th>
                                        <th class="next">»</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="7"><span class="year old">2009</span><span class="year">2010</span><span
                                                class="year">2011</span><span class="year">2012</span><span class="year">2013</span><span
                                                class="year">2014</span><span class="year">2015</span><span class="year">2016</span><span
                                                class="year">2017</span><span class="year focused">2018</span><span
                                                class="year">2019</span><span class="year new">2020</span></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="7" class="today" style="display: none;">Today</th>
                                    </tr>
                                    <tr>
                                        <th colspan="7" class="clear" style="display: none;">Clear</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="datepicker-decades" style="display: none;">
                            <table class="table-condensed">
                                <thead>
                                    <tr>
                                        <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                    </tr>
                                    <tr>
                                        <th class="prev">«</th>
                                        <th colspan="5" class="datepicker-switch">2000-2090</th>
                                        <th class="next">»</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="7"><span class="decade old">1990</span><span class="decade">2000</span><span
                                                class="decade focused">2010</span><span class="decade">2020</span><span
                                                class="decade">2030</span><span class="decade">2040</span><span class="decade">2050</span><span
                                                class="decade">2060</span><span class="decade">2070</span><span class="decade">2080</span><span
                                                class="decade">2090</span><span class="decade new">2100</span></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="7" class="today" style="display: none;">Today</th>
                                    </tr>
                                    <tr>
                                        <th colspan="7" class="clear" style="display: none;">Clear</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="datepicker-centuries" style="display: none;">
                            <table class="table-condensed">
                                <thead>
                                    <tr>
                                        <th colspan="7" class="datepicker-title" style="display: none;"></th>
                                    </tr>
                                    <tr>
                                        <th class="prev">«</th>
                                        <th colspan="5" class="datepicker-switch">2000-2900</th>
                                        <th class="next">»</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="7"><span class="century old">1900</span><span class="century focused">2000</span><span
                                                class="century">2100</span><span class="century">2200</span><span class="century">2300</span><span
                                                class="century">2400</span><span class="century">2500</span><span class="century">2600</span><span
                                                class="century">2700</span><span class="century">2800</span><span class="century">2900</span><span
                                                class="century new">3000</span></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="7" class="today" style="display: none;">Today</th>
                                    </tr>
                                    <tr>
                                        <th colspan="7" class="clear" style="display: none;">Clear</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-black">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Progress bars -->
                        <div class="clearfix">
                            <span class="pull-left">任务 #1</span>
                            <small class="pull-right">90%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">任务 #2</span>
                            <small class="pull-right">70%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <div class="clearfix">
                            <span class="pull-left">任务 #3</span>
                            <small class="pull-right">60%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 60%;"></div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">任务 #4</span>
                            <small class="pull-right">40%</small>
                        </div>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 40%;"></div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.box -->

    </section>
    <!-- right col -->
</div>