<!--登录-->
<div class="login-form" id="login">
        <div class="head-info">
            <label class="lbl-1"></label>
            <label class="lbl-2"></label>
            <label class="lbl-3"></label>
        </div>
        <div class="clear"> </div>
        <div class="avtar">
            <img src="/static/images/avtar.png" />
        </div>
        <form method="GET" id="login_form">
            <input type="text" class="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password" style="margin-bottom: 1em;">
            <div style="padding: 0em 3em 1em 5em;text-align:left;color: #9199aa;font-size: 14px">
                <span>没有账号?</span>
                <span style="color: white;cursor: pointer;" class="css154bb3d0131e2b8" id="go_res">去注册</span>
            </div>
            <div class="signin">
                <input type="submit" value="Login" class="login-from-submit">
            </div>
        </form>
    </div>