<div class="box position-list">
    <div class="box-header with-border">
      <h3 class="box-title">
        <button id="addbtn" class="btn btn-block btn-success"><span class="fa fa-plus-circle"></span> 添加</button>
      </h3>
      <!--搜索-->
      <div class="box-tools">
        <div class="input-group input-group-sm" style="width: 150px;">
          <input type="text" id="keywords" value="" name="pos_search" class="form-control pull-right" placeholder="搜索">
  
          <div class="input-group-btn">
            <button type="button" id="possearch" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    {{ if data.items.length > 0 }}
    <div class="box-body">
      <table class="table table-bordered position-list__tabel">
        <tr>
          <th style="width: 10px">#</th>
          <th>公司Logo</th>
          <th>公司名称</th>
          <th>职位名称</th>
          <th>工作地点</th>
          <th>发布时间</th>
          <th>岗位薪资</th>
          <th style="width: 140px">操作</th>
        </tr>
        {{ each data.items }}
        <tr data-id="{{ $value._id }}">
          <td>{{ $index + 1 }}</td>
          <td><img width="50" height="50" src="http://localhost:3000{{$value.companyLogo}}"
              alt=""></td>
          <td>{{ $value.companyName }}</td>
          <td>{{ $value.positionName }}
          </td>
          <td>{{ $value.city }}</td>
          <td>{{ $value.formatTime }}</td>
          <td>{{ $value.salary }}</td>
          <td>
            <button class="btn btn-sm btn-primary pos-update" posid="" pageno="" keywords="" style="margin-bottom:5px;"><span class="fa fa-edit"></span>
              修改</button>
            <button class="btn btn-sm btn-danger pos-remove" posid="" pageno="" pagecount="" pagesize="" keywords=""
              filename=""><span class="fa fa-remove"></span> 删除</button>
          </td>
        </tr>
        {{ /each }}
      </table>
    </div>
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        <!--上一页-->
        <li><a href="#/position-list?pageNo=<%= (data.pageInfo.pageNo>1)?data.pageInfo.pageNo-1:data.pageInfo.pageNo %>">&laquo;</a></li>
        <% for(var i=0;i< data.pageInfo.totalPage;i++) {%>
        <li class="{{if data.pageInfo.pageNo == i+1}}active{{/if}}"><a href="#/position-list?pageNo=<%= i+1%>"><%= i+1%></a></li>
        <% } %>
        <!--下一页-->
        <li><a href="#/position-list?pageNo=<%= (data.pageInfo.pageNo<data.pageInfo.totalPage)?~~data.pageInfo.pageNo+1:data.pageInfo.totalPage %>">&raquo;</a></li>
      </ul>
    </div>
    {{ else }}
    <div class="box box-default">
        <div class="box-header with-border">
          <!-- <h3 class="box-title">Blank Box</h3> -->
        </div>
        <div class="box-body">
            当前没有职位信息，快去添加吧...
        </div>
        <!-- /.box-body -->
      </div>
    {{ /if }}
  </div>
  <!-- /.box -->