<!--注册-->
<div class="login-form" id="register">
        <div class="close register_close"> </div>
        <div class="head-info">
            <label class="lbl-1"> </label>
            <label class="lbl-2"> </label>
            <label class="lbl-3"> </label>
        </div>
        <div class="clear"> </div>
        <div class="avtar">
            <img src="/static/images/avtar.png" />
        </div>
        <form id="register_form">
            <input type="text" name="username" class='text' placeholder="请输入用户名">
            <input type="text"name="email" class='text' placeholder="请输入邮箱">
            <input type="password" placeholder="请输入密码" style="margin-bottom: 1em;margin-top: 2em" name="password">
            <div class="signin">
                <input type="submit" value="Register" class="login-from-submit">
            </div>
        </form>
    </div>